force-app/main/default/flows/auara_CreacionAutomaticaTareas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Categoria</name>
        <label>Categoria</label>
        <locationX>809</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GOLD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.auara_LiteralCategoria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GOLD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExcedidoLimiteMedio</targetReference>
            </connector>
            <label>GOLD</label>
        </rules>
        <rules>
            <name>SILVER</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.auara_LiteralCategoria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SILVER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Excedido_Limite_Largo</targetReference>
            </connector>
            <label>SILVER</label>
        </rules>
    </decisions>
    <decisions>
        <name>Excedido_Limite_Largo</name>
        <label>Excedido Limite Largo</label>
        <locationX>974</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ExcedidoLargo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastActivityDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Limite_Largo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tarea_SILVER</targetReference>
            </connector>
            <label>Excedido</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExcedidoLimiteCorto</name>
        <label>Excedido Limite Corto</label>
        <locationX>446</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ExcedidoCorto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastActivityDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Limite_Corto</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tarea_GOLD_Corto</targetReference>
            </connector>
            <label>Excedido</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExcedidoLimiteMedio</name>
        <label>Excedido Limite Medio</label>
        <locationX>248</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>ExcedidoLimiteCorto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ExcedidoMedio</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastActivityDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Limite_Medio</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tarea_GOLD_Medio</targetReference>
            </connector>
            <label>Excedido</label>
        </rules>
    </decisions>
    <formulas>
        <name>Limite_Corto</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - {!$Setup.auara_UmbralesActividad__c.auara_CORTO__c}</expression>
    </formulas>
    <formulas>
        <name>Limite_Largo</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - {!$Setup.auara_UmbralesActividad__c.auara_LARGO__c}</expression>
    </formulas>
    <formulas>
        <name>Limite_Medio</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} - {!$Setup.auara_UmbralesActividad__c.auara_MEDIO__c}</expression>
    </formulas>
    <interviewLabel>Creaci칩n autom치tica de Tareas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Creaci칩n autom치tica de Tareas</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Tarea_GOLD_Corto</name>
        <label>Tarea GOLD Corto</label>
        <locationX>314</locationX>
        <locationY>636</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Tarea de Seguimiento</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Tarea_GOLD_Medio</name>
        <label>Tarea GOLD Medio</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Tarea de Seguimiento</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Tarea_SILVER</name>
        <label>Tarea SILVER</label>
        <locationX>842</locationX>
        <locationY>516</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Tarea de Seguimiento</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>683</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Categoria</targetReference>
        </connector>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-04-15</startDate>
            <startTime>14:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
